* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  background-image: url("./img/warm.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s;
}

.app.cold {
  background-image: url("./img/cold2.jpg");
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255, .5);
  border-radius: 0px 16px 0 16px ;
  margin-top: 30vh;
  border-bottom: 5px solid rgba(201,201,3);
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  font-size: 20px;
  transition: .5s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.75);
  border-radius: 16px 0 16px 0;
}

.location-box .location {
  margin-top: 10vh;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.75);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .tem {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 15px 2px;
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50,50,70,0.75);
}